.newsLetterSection{
    margin-block:8rem;
}
.newsLetter{
    background-color:#55bc7e1f;
    height: 250px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.newsLetterInfo{
    display: flex;
    flex-direction: column;
}
.newsLetterInfo h1{
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
    color: #454040;

}
.newsLetterInfo h1>span{
    color:#55bc7e;
    font-weight: 700;
    text-transform: capitalize;
}
/* newsLetterSearchBox */
.newsLetterSearchBox{
    display: flex;
    width: 38%;
    height: 55px;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    transform: scale(.8);
}
.newsLetterSearchBox input{
    flex: 1;
    border: none;
    outline: none;
    padding-left: 10px;
}
.newsLetterSearchBox input:placeholder-shown{
    opacity: .7;
}
.newsLetterSearchBox .btn{
    all: unset;
    background-color: #55bc7e;
    font-size: .7rem;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    height: 100%;
    padding-inline: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.newsLetterSearchBox .btn svg{
    font-size: .9rem;
}




@media only screen and (max-width: 400px) {}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .newsLetterInfo h1 {
        font-size: 1.2rem !important;

    }
    .newsLetterSearchBox {
        width: 90% !important;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .newsLetterInfo h1 {
        font-size: 1.4rem;

    }
    .newsLetterSearchBox {
        width: 60%;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}