.CTOSection {
    margin-block: 8rem;
}

.CTO {
    display: grid;
    grid-template-columns:6fr 6fr;
    align-items: center;
}

/* ------ CTOleftBox ------- */
.CTOLeftBox {
    display: flex;
    justify-content: center;

}
.jobHoldersImg{
    width: 500px;
    height: 500px;
    object-fit: contain;
}


/* ------ CTORightBox ------- */
.CTORightBox {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
.CTORighBoxHeaders {
    display: flex;
    flex-direction: column;
}

.CTORighBoxHeaders span {
    color: #55BC7E;
}

/* CTORighBoxDescription */
.CTORighBoxDescription {
    font-size: .9rem;
    color: #37383dcc;
    line-height: 30px;
    width: 70%;
}

.CTOBTN {
    text-decoration: none;
    margin-top: 1rem;
}






/* =========================================== Media Queries  ====================================== */
@media only screen and (max-width: 400px) {
 
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .jobHoldersImg {
        height: 300px !important;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .CTO{
        display: flex;
        flex-direction: column;
    }
    .jobHoldersImg {
        width: 100% !important;
        height: 500px;
        object-fit: contain;
    }
    .CTORightBox{
        align-items: center;
        text-align: center;
    }
    .CTORighBoxDescription {
        width: 90% !important;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .CTO {
        grid-template-columns: 5.5fr 6.5fr;
        gap: 1rem;
    }
    .CTOLeftBox, .CTORightBox {
        flex-basis: 50%;
    }
    .CTORighBoxHeaders{
        width: 100%;
    }
    .CTORightBox {
        gap: .7rem;
    }
    .jobHoldersImg{
        width: 380px;
        height: 380px;
        object-fit: contain;
    }
    .CTORighBoxDescription {
        width: 100%;
    }
    .CTOBTN {
        margin-top: .5rem;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {}