.sectionHeadingText{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    margin-bottom: 4rem;
}
.sectionHeadingText .sectionHeadingTextTitle{
    display: flex;
    gap: 10px;
    font-weight: 700;
    color: #454040;
}
.sectionHeadingText .sectionHeadingTextTitle span{
    color:#55BC7E;
}
.sectionHeadingText .sectionHeadingTextPara {
    font-weight: 500;
    font-size: .8rem;
    color: #454040;
    opacity: .7;

}